/*************** ABOUT PAGE STYLE BEGINES HERE ***************/
#main-content .section-1 {
  background: #E6E6E6;
  background: var(--lt-grey);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 15vw;
  padding-top: 102px;
  box-sizing: border-box;
}

#main-content .section-1 .right-col,
#main-content .section-2 .right-col  {
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#main-content .section-1 .right-col {
  background-image: url("/colo-speed-v2/assets/images/studies/p1.png");
}

#main-content .section-2 .right-col {
  background-image: url("/colo-speed-v2/assets/images/studies/study2.png");
}

#main-content .section-1 .left-col,
#main-content .section-2 .left-col {
  width: 60%;
  min-width: 300px;
  background: white;
  padding: 5rem 10vw;
  box-sizing: border-box;
}

#main-content .section-1 .left-col .title,
#main-content .section-2 .left-col .title {
  color: #313131;
  color: var(--dk-grey);
  font-size: 2rem;
  font-weight: 500;
}

#main-content .section-1 .left-col p,
#main-content .section-2 .left-col p {
  color: #313131;
  color: var(--dk-grey);
  font-size: 1.2rem;
  line-height: 1.6rem;
}

#main-content .section-2{
  background: #E6E6E6;
  background: var(--lt-grey);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding-right: 15vw;
  box-sizing: border-box;
}

#main-content .decor-row {
  display: flex;
  flex-direction: row;
  padding-right: 15vw;
  
}

#main-content .decor-row .decor{
  height: 150px;
  box-sizing: border-box;
}

#main-content .decor-row .right-decor{
  width: 60%;
  min-width: 300px;
  background: #003571;
  background: var(--dk-blue);
  box-sizing: border-box;
}

#main-content .decor-row .left-decor{
  width: 40%;
  background: #00BDF1;
  background: var(--lt-blue);
  box-sizing: border-box;
}



/****************** END OF ABOUT PAGE STYLEE *****************/