@media only screen and (max-width: 570px) {

  /*************** ABOUT PAGE STYLE BEGINES HERE ***************/
  #main-content .section-1 {
    background: #E6E6E6;
    background: var(--lt-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0 0 0;
    padding-top: 90px;
    box-sizing: border-box;
  }

  #main-content .section-1 .contact-us {
    flex: 1;
    min-height: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
    padding: 10px;
    justify-content: center;
  }

  #main-content .section-1 .contact-us .left-col {
    min-width: 240px;
    flex: 0.5;
    width: 100%;
    background: #F4F4F4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

  }

  #main-content .section-1 .contact-us .right-col {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

  }

  #main-content .section-1 .contact-us .title {
    text-align: left;
    font-size: 1.8em;
  }

  #main-content .section-1 .contact-us .left-col .title {
    width: 100%;
  }

  #main-content .section-1 .contact-us .left-col p {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }

  #main-content .section-1 .contact-us .left-col a {
    color: #00BDF1;
    color: var(--lt-blue);
    font-weight: 400;
  }

  #main-content .section-1 .contact-us .left-col iframe {
    border: 1px solid #E6E6E6;
    border: 1px solid var(--lt-grey);
    width: 100%;
  }

  #main-content .section-1 .contact-us .right-col {
    flex: 1;
    min-width: 240px;
    padding: 50px 0 30px 0;
  }

  #main-content .section-1 .contact-us .right-col form {
    width: 100%;
  }

  #main-content .section-1 .contact-us .right-col input[type=text],
  #main-content .section-1 .contact-us .right-col input[type=email] {
    display: block;
    height: 3rem;
    box-sizing: border-box;
    padding: 5px 20px;
    width: 100%;
    margin: 20px 0;
    font-size: 1rem;
    background: #f8f8f8;
    border: none;
  }

  #main-content .section-1 .contact-us .right-col textarea {
    display: block;
    box-sizing: border-box;
    padding: 1rem 20px;
    width: 100%;
    margin: 20px 0;
    font-size: 1rem;
    background: #f8f8f8;
    border: none;
  }

  #main-content .section-1 .contact-us .right-col .form-row {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
  }


  #main-content .section-1 .contact-us .right-col input[type="submit"] {
    width: 100%;
    border: none;
    background: #003571;
    background: var(--dk-blue);
    color: white;
    font-weight: 500;
    font-size: 1em;
    border-radius: 50px;
    padding: 10px;
    margin: 20px 0;
  }


  /****************** END OF ABOUT PAGE STYLEE *****************/
}