
/*************** ABOUT PAGE STYLE BEGINES HERE ***************/
#main-content .section-1 {
  background: #E6E6E6;
  background: var(--lt-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 102px 10vw 70px 10vw;
  /* padding: 102px 5vw 70px 5vw; */
  padding-top: 102px;
  /* padding-top: 30px; */
  box-sizing: border-box;
}

#main-content .section-1 .news-media {
  flex: 1;
  min-height: 300px;
  background: #E6E6E6;
  background: var(--lt-grey);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
}

#main-content .section-1 .news-media .main-col {
  flex: 1;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#main-content .section-1 .news-media .title {
  text-align: left;
  font-size: 1.8em;
}

#main-content .section-1 .news-media .left-col .title {
  width: 300px;
}

#main-content .section-1 .news-media .main-col .title {
  color: #313131;
  color: var(--dk-grey);
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  padding: 20px 0;
}

#main-content .section-1 .news-media .main-col a {
  text-decoration: none;
  color: currentColor;
}

#main-content .section-1 .news-media .main-col a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

#main-content .section-1 .news-media .main-col .newstitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 10px;
}

#main-content .section-1 .news-media .main-col .subtitle {
  font-size: 1.3rem;
  font-weight: 500;
}

#main-content .section-1 .news-media .main-col .date {
  /* color: var(--lt-blue);
  font-weight: 500;
  font-size: 0.9rem; */
  color: #bbb;
  font-weight: 500;
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}

#main-content .section-1 .news-media .main-col .date a{
  display: block;
}

#main-content .section-1 .news-media .main-col .tag {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  background: var(--lt-blue);
  padding: 8px 15px;
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 2px;
}

#main-content .section-1 .news-media .main-col .tag:hover {
  background: var(--lt-grey);
}

#main-content .section-1 .news-media .main-col .type {
  font-size: 1rem;
  color: white;
  background: var(--primary-color);
  display: inline-block;
  padding: 5px 10px;
  width: fit-content;
  text-transform: capitalize;
}

#main-content .section-1 .news-media .main-col .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--lt-blue);
  text-decoration: underline;
}

#main-content .section-1 .news-media .main-col .paragraph {
  font-size: 1.1rem;
  line-height: 1.8rem;
  word-break: break-word;
}

#main-content .section-1 .news-media .main-col .paragraph img {
  max-width: 500px;
  display: block;
  margin-bottom: 5px;
}

#main-content .section-1 .news-media .main-col .paragraph table {
  margin: 20px auto;
  display: block;
  max-width: 505px;
}

#main-content .section-1 .news-media .main-col .paragraph table td{
  font-size: 0.9rem;
  font-weight: 500;
}

#main-content .section-1 .news-media .main-col .article {
  background: white;
  margin: 10px 0;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

#main-content .section-1 .news-media .main-col .article .left-col {
  float: left;
  /* width: 10vw; */
  /* padding: 50px; */
  /* min-width: 240px; */
  /* height: auto; */
  background: var(--dk-blue);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40%;
  padding-bottom: 22.25%; /* 16:9 */
  position: relative;
  margin: 40px 40px 30px 30px;
}

#main-content .section-1 .news-media .main-col .article .right-col {
  flex: 1;
  padding: 40px;
  position: relative;
}

/****************** END OF ABOUT PAGE STYLEE *****************/