@media only screen and (max-width: 570px) {

  /*************** ABOUT PAGE STYLE BEGINES HERE ***************/
  #main-content .section-1 {
    background: #E6E6E6;
    background: var(--lt-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0 0 0;
    padding-top: 140px;
    box-sizing: border-box;
    position: relative;
  }

  #main-content .section-1 .studies {
    flex: 1;
    min-height: 300px;
    background: #E6E6E6;
    background: var(--lt-grey);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
    padding: 0;
    justify-content: center;
  }

  #main-content .section-1 .studies .main-col {
    flex: 1;
    /* padding: 3rem 0; */
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #main-content .section-1 .studies .title {
    text-align: left;
    font-size: 1.8em;
  }

  #main-content .section-1 .studies .left-col .title {
    width: 100%;
  }

  #main-content .section-1 .studies .main-col .title {
    color: #313131;
    color: var(--dk-grey);
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    padding: 0 20px 20px 20px;
  }
  
  #main-content .section-1 .studies .main-col a {
    text-decoration: none;
    color: currentColor;
  }
  
  #main-content .section-1 .studies .main-col a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  #main-content .section-1 .studies .main-col .newstitle {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
  }

  #main-content .study:hover {
    cursor: pointer;
  }
  
  #main-content .study:hover .newstitle a {
    color: var(--primary-color) !important;
    text-decoration: underline ;
  }

  #main-content .section-1 .studies .main-col .subtitle {
    font-size: 1.2rem;
    font-weight: 500;
  }

  #main-content .section-1 .studies .main-col .date {
    /* color: var(--lt-blue);
    font-weight: 500;
    font-size: 0.9rem; */
    /* color: #6d6d6d; */
    color: var(--lt-blue);
    font-weight: 500;
    font-size: 0.8rem;
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: center;
  }
  
  #main-content .section-1 .studies .main-col .tag {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    background: var(--lt-blue);
    padding: 8px 15px;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 5px;
  }

  #main-content .section-1 .studies .main-col .tag:hover {
    background: var(--lt-grey);
  }

  #main-content .section-1 .studies .main-col .paragraph {
    font-size: 1.1rem;
    line-height: 1.8rem;
    word-break: break-word;
  }

  #main-content .section-1 .studies .main-col .study {
    background: white;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }

  #main-content .section-1 .studies .main-col .study .left-col {
    width: 100%;
    padding-bottom: 56%;
    box-sizing: border-box;
    min-width: 240px;
    background: var(--dk-blue);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
  }
  
  #main-content .section-1 .studies .main-col .study .right-col {
    flex: 1;
    padding: 30px;
  }

  /****************** END OF ABOUT PAGE STYLEE *****************/
}

@media only screen and (max-width: 1000px){
  #main-content .section-1 .decor{
    position: absolute;
    height: 60px;
    background: var(--primary-color);
    top: 88px !important;
    right: 0;
    left: 0;
    margin-bottom: 50px;
    padding: 0px 10vw 0px 10vw;
  }
  
  #main-content .section-1 .main-title {
    z-index: 1;
    background-color: var(--lt-blue);
    padding: 1rem 4vw 1rem 25vw;
    position: absolute;
    top: 10px;
    left: 0;
    box-sizing: border-box;
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: white !important;
  }
}