---
title: About
permalink: /about/
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>COLO-SPEED - Studies</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#004379">
  <link rel="stylesheet" href="/css/styles.1569346102824.css?t=10">
  <link rel="stylesheet" href="/css/styles.1569346102824.mob.css?t=10">
  <link rel="stylesheet" href="/css/about.css?t=10">
  <link rel="stylesheet" href="/css/about.mob.css?t=10">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

<body>
  {% include header.html %}

  <div id="main-content">
    <div class="section section-1 gibson-book">
      <div class="left-col col">
        <div class="title">About</div>
        <p>
          COLO-SPEED was devised by a group of keen bowel cancer researchers and aims to be the world largest research platform developing and delivering bowel cancer research, within bowel cancer screening, prevention, and early diagnosis.
        </p>
        <br><br>
        <div class="title">Our Mission Statement</div>
        <p>
          COLO-SPEED will transform endoscopy units into colorectal cancer research recruitment centres, building the world’s largest ‘experimental platform’ for colorectal cancer prevention and research. Patients attending endoscopy will be invited to participate in colorectal research, either by directly entering a specific research study and/or consenting to be contacted in the future about suitable research studies. This unique resource will enable efficient delivery of cutting-edge research.   
          <br><br>
          This experimental platform will provide a resource for clinicians (doctors and nurses), researchers, industry and (we hope, in due course) patients, to propose research studies and for these to be conducted rapidly. We are working with Open Lab, a world-leading group with a strong track record in developing user-friendly applications of new technology, to design an IT platform to host the information from patients who agree to take part in COLO-SPEED. 
        </p>
      </div>
      <div class="right-col col">

      </div>
    </div>
    <div class="decor-row">
      <div class="left-decor decor"></div>
      <div class="right-decor decor"></div>
    </div>
    <div class="section section-2 gibson-book">
      <div class="left-col col">
        <div class="title">
          About Bowel Cancer
        </div>
        <p>
          Bowel cancer, also called Colorectal Cancer (CRC), is the fourth most common cancer and the second most common cancer death in the UK. It is more common in older individuals, those with a family history of bowel cancer, or those with inflammatory bowel disease. In some individuals it may cause no symptoms, or may cause bleeding from the back passage, abdominal pain, change in bowel habit or weight loss. This is usually investigated with a camera which is inserted into the bowel through the back passage to examine the large bowel, otherwise known as a colonoscopy. For further information on a colonoscopy, please <a href="https://www.nhs.uk/conditions/colonoscopy">click here</a>. If you would like further information on bowel cancer, please <a href="https://www.cancerresearchuk.org/about-cancer/bowel-cancer">click here</a>.
        </p>
      </div>
      <div class="right-col col">
      </div>
    </div>
    <div class="button-row gibson-book">
      <div class="left-col col">
        <div class="title">I’m interested in participating in the studies</div>
        <a href="/participants/" class="read-more">
         Tell me more
        </a>
      </div>
      <div class="right-col col">
        <div class="title">I’m interested in running a research study with the COLO-SPEED network</div>
        <a href="/researchers/" class="read-more">
          Tell me more
        </a>
      </div>
    </div>
    <div class="section section-2 gibson-book">
      <div class="main-col col">
        <div class="title">Who are we</div>
        <div class="members">
          {% for member in site.data.members.members %}
            <div class="member">
              <div class="image" style="background-image: url('{{ member.image }}');"></div>
              <div class="member-info">
                <div class="name"> {{member.name}} </div>
                <div class="affiliation"> {{member.affiliation}} </div>
                <div class="bio"> {{member.bio}} </div>
                <div class="contact"> <a href="mailto:{{member.email}}">{{member.email}}</a> </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="decor-row inverted">
      <div class="right-decor decor"></div>
      <div class="left-decor decor"></div>
    </div>
    <div class="section section-2 gibson-book">
      <div class="main-col col">
        <div class="title">Collaborators</div>
        <div class="collaborators">
          {% for group in site.data.collaborators.groups %}
            <div class="collaborator-list-container">
              <div class="title">{{ group.name }}</div>
              <ul class="collaborator-list">
                {% for collaborator in group.collaborators %}
                  <li class="collaborator">{{ collaborator }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}
  <script src="/js/script.js" async defer></script>
</body>

</html>