---
title: Studies
permalink: /studies/
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>COLO-SPEED - Studies</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#004379">
  <link rel="stylesheet" href="/css/styles.1569346102824.css?t=10">
  <link rel="stylesheet" href="/css/styles.1569346102824.mob.css?t=10">
  <link rel="stylesheet" href="/css/studies/index.css?t=10">
  <link rel="stylesheet" href="/css/studies/index.mob.css?t=10">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

<body>
  {% include header.html %}

  <div id="main-content">
    <div class="section section-1 studies gibson-book">
      <div class="study">
        <div class="left-col col">
          <div class="study-info">
            <div class="title gibson-medium">
              COLO-COHORT
            </div>
            <div class="subtitle gibson-medium">
              Colorectal Cancer Cohort Study
            </div>
            <div class="contact-person">
              Colin Rees – Newcastle University & South Tyneside and Sunderland NHS Trust 
            </div>
            <div class="paragraph gibson-book">
              COLO-COHORT aims to develop a “risk stratification tool” to help determine which patients are at highest risk of having polyps or cancer; this tool will be able to be used in the future to work out which patients need to be referred to endoscopy for investigation.  
            </div>
            <div class="status">
              <span class="strong">Status:</span> Recruiting  
            </div>
            <a href="/studies/colo-cohort/" class="read-more">
              Find out more
            </a>
          </div>
        </div>
        <div class="right-col col" style="background-image: url('/assets/images/studies/study1.jpg')">
        </div>
      </div>
      <div class="study">
        <div class="left-col col">
          <div class="study-info">
            <div class="title gibson-medium">
              VODECA
            </div>
            <div class="subtitle gibson-medium">
              Volatile Organic compounds for DEtection of Colorectal cAncer
            </div>
            <div class="contact-person">
              Professor Chris Probert – University of Liverpool
            </div>
            <div class="paragraph gibson-book">
              The VODECA study aims to investigate Volatile Organic Compounds (VOCs) which are associated with adenomas (pre-cancerous polyps) and early bowel cancer to improve detection of adenomas and bowel.  
            </div>
            <div class="status">
              <span class="strong">Status:</span> Recruiting  
            </div>
            <a href="/studies/vodeca/" class="read-more">
              Find out more
            </a>
          </div>
        </div>
        <div class="right-col col" style="background-image: url('/assets/images/studies/study2.png')">

        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}
  <script src="/js/script.js" async defer></script>
</body>

</html>