/*************** STUDIES PAGE STYLE BEGINES HERE ***************/

#main-content .section-1 {
  background-color: #004379;
  background-color: var(--primary-color);
  /* padding-top: 102px; */
  padding-top: 30px;
}

#main-content .section-1 .study{
  display: flex;
  justify-content: center;
}

#main-content .section-1 .study .col {
  flex: 1;
  color: white;
  padding: 70px 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.study:nth-child(even) {
  flex-direction: row-reverse;
}

.study:nth-child(odd) {
  flex-direction: row;
}

.study:nth-child(even) .col {
  align-items: flex-start;
}

.study:nth-child(odd) .col {
  align-items: flex-end;
}

.study:nth-child(even) .study-info {
  text-align: right;
}

.study:nth-child(odd) .study-info {
  text-align: left;
}

.study .study-info {
  max-width: 500px;
}

#main-content .section-1 .study .right-col {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#main-content .section-1 .study .title {
  font-size: 2.4rem;
}

#main-content .section-1 .study .subtitle {
  font-size: 1.4rem;
  font-weight: 500;
}

#main-content .section-1 .study .contact-person {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--lt-blue);
  text-align: left;
}

#main-content .section-1 .study .paragraph {
  margin: 15px 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: left;
}

#main-content .section-1 .study .location, #main-content .section-1 .study .status  {
  margin: 5px 0;
  font-size: 1rem;
  text-align: left;
}

#main-content .section-1 .study .location .strong, #main-content .section-1 .study .status .strong {
  font-weight: 500;
  color: var(--lt-blue);
  font-size: 1rem;
}


#main-content .section-1 .study .read-more {
  font-size: 1rem;
  font-weight: 500;
  background: white;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  display: block;
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 50px;
  transition: all ease-in 0.1s;
}

#main-content .section-1 .study .read-more:hover {
  background: #00BDF1;
  background: var(--lt-blue);
  color: white;
}


#main-content .section-2 {
  background-color: #E6E6E6;
  background-color: var(--lt-grey);
  box-sizing: border-box;
  padding: 0 10vw;
}

#main-content .section-2 .study-details {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}

#main-content .section-2 .study-details .study-info {
  padding: 30px 10vw;
}

#main-content .section-2 .study-details .study-info .paragraph {
  margin: 40px 0;
}

#main-content .section-2 .study-details .study-info .paragraph .title {
  font-size: 1.6rem;
  font-weight: 500;
}

#main-content .section-2 .study-details .study-info .paragraph .subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 10px;
  color: var(--lt-blue);
}

#main-content .section-2 .study-details .study-info .paragraph p {
  margin-top: 5px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

#main-content .section-2 .study-details .study-info .paragraph p:empty {
  margin: 0;
}

#main-content .section-2 .study-details .study-info .paragraph ul {
  margin-top: 5px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

#main-content .section-2 .study-details .study-info .paragraph img {
  max-width: 100%;
}

#main-content .section-2 .study-details .study-registration {
  display: flex;
  flex-direction: row;
}

#main-content .section-2 .study-details .study-registration .left-col {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  width: 50%;
}

#main-content .section-2 .study-details .study-registration .right-col {
  min-width: 300px;
  flex: 1;
  padding: 15px 50px;
  width: 50%;
}

#main-content .section-2 .study-details .study-registration .right-col .title {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #00BDF1;
  color: var(--lt-blue);
  margin-bottom: 50px;
}


#main-content .section-2 .study-details .study-registration .right-col .subtitle {
  font-size: 1.2em;
  font-weight: 500;
  color: #2c2c2c;
  margin: 40px 0 15px 0;
}


#main-content .section-2 .study-details .study-registration .right-col input[type=text], #main-content .section-2 .study-details .study-registration .right-col input[type=date], #main-content .section-2 .study-details .study-registration .right-col input[type=email] {
  display: block;
  height: 3rem;
  box-sizing: border-box;
  padding: 5px 20px;
  width: 100%;
  margin: 20px 0;
  font-size: 1rem;
  background: #f8f8f8;
  border: none;
}

#main-content .section-2 .study-details .study-registration .right-col .form-row {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}

#main-content .section-2 .study-details .study-registration .right-col input[type=checkbox] {
  width: auto;
  margin: 0.5rem 10px;
}

#main-content .section-2 .study-details .study-registration .right-col label {
  flex: 1;
  margin: 0 10px;
  font-size: 1.1rem;
}

#main-content .section-2 .study-details .study-registration .right-col input[type="submit"] {
  width: 100%;
  border: none;
  background: #00BDF1;
  background: var(--lt-blue);
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 50px;
  padding: 10px;
  margin: 40px 0;
}
 
#main-content .section-2 .study-details .study-registration .right-col input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #757575;
  margin-right: 0.5em;
}
#main-content .section-2 .study-details .study-registration .right-col input[type="date"]:focus:before,
#main-content .section-2 .study-details .study-registration .right-col input[type="date"]:valid:before {
  content: "";
}
/****************** END OF STUDIES PAGE STYLEE *****************/