---
title: Home
layout: parent
---

  {% include header.html type="transparent" %}

  <div id="main-content">
    <div class="section section-1">
      <div class="video video-1">
        <div class="video-image" alt="Video"></div>
        <a class="video-play-btn"></a>
      </div>
      <div class="overview-box">
        <div class="title gibson-medium">Overview</div>
        <p class="gibson-book">
          Our aim is to stop people dying of bowel cancer. Bowel cancer, also called colorectal cancer (CRC), is the fourth most common cancer and the second most common cancer death in the UK. COLOSPEED (Colorectal Cancer Screening Prevention Endoscopy and Early Diagnosis) is building the world’s largest platform for research in prevention and early diagnosis of bowel cancer.
        </p>
      </div>
    </div>
    <div class="section section-2">
      <div class="section-inner">
        <div class="col col-left din-black">
          <div class="sz350 cl-white condensed title">COLO-SPEED</div>
          <div class="desc cl-blue sz50">Be part of the world's largest colorectal cancer research group</div>
          <div class="become-partner cl-blue sz80">
            Be one of the <span style="color:#ffffff;">100 UK units</span> to become a <br> COLO-SPEED partner site
          </div>
          <div class="colospeed cl-blue">
            <span style="color:#ffffff;">COLO</span>RECTAL CANCER<br>
            <span style="color:#ffffff;">S</span>CREENING<br>
            <span style="color:#ffffff;">P</span>REVENTION<br>
            <span style="color:#ffffff;">E</span>NDOSCOPY<br>
            <span style="color:#ffffff;">E</span>ARLY<br>
            <span style="color:#ffffff;">D</span>IAGNOSIS
          </div>
        </div>
        <div class="col col-right din-black">
          <div>
            <div class="sz500 cl-white">
              44
            </div>
            <div class="sz350 cl-blue uppercase">
              People
            </div>
          </div>
          <div>
            <div class="sz200 cl-blue uppercase">
              Die in the UK
            </div>
            <div class="sz130 cl-white uppercase">
              everyday from
            </div>
          </div>
          <div>
            <div class="sz350 cl-blue uppercase">
              bowel
            </div>
            <div class="sz350 cl-blue uppercase">
              cancer
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-3">
      <div class="blue-decor"></div>
      <div class="featured-articles gibson-book">
        <div class="row">
          <div class="col">
            <div class="video video-2">
              <a class="video-play-btn"></a>
            </div>
          </div>
          <div class="col paragraph">
            <div class="title gibson-medium">Featured Article</div>
            <p>
              Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus
              commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
              malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            </p>
            <div class="register-btn gibson-medium"><a href="/studies/">Read more</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col paragraph">
            <div class="title gibson-medium">COLO-COHORT</div>
            <p>
              COLO-COHORT aims to develop a “risk stratification tool” to help determine which patients are at highest risk of having polyps or cancer; this tool will be able to be used in the future to work out which patients need to be referred to endoscopy for investigation.
            </p>
            <div class="register-btn gibson-medium"><a href="/studies/colo-corhort/">Read more</a></div>
          </div>
          <div class="col">
            <div class="video video-3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-4">
      <div class="title gibson-medium">Latest Studies</div>
      <div class="latest-studies">
        {% for study in site.studies limit:2 %}
          <div class="row">
            <div class="col">
              <div class="study-image" style="background-image: url('{{ study.image }}');"></div>
            </div>
            <div class="col">
              <div class="paragraph gibson-book">
                <div class="study-title gibson-medium">{{ study.title }}</div>
                <p>
                  {{ study.shortoverview }}
                </p>
                <div class="register-btn gibson-medium"><a href="{{ study.url }}">Find out more</a></div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="section section-5">
      <div class="partners">
        <div class="title gibson-book">Our Partners</div>
        <div class="partner-logos">
          <div class="partner-logo">
            <a href="#"><img src="/assets/images/overview/gutsuk.svg" alt="Guts UK" style="width: 75px"></a>
          </div>
          <div class="partner-logo">
            <a href="#"><img src="/assets/images/overview/parabola.png" alt="Parabola"></a>
          </div>
          <div class="partner-logo">
            <a href="#"><img src="/assets/images/overview/ncluni.svg" alt="Newcastle University"></a>
          </div>
          <div class="partner-logo">
            <a href="#"><img src="/assets/images/overview/openlab_dark.svg" alt="Openlab"></a>
          </div>
          <div class="partner-logo">
            <a href="#"><img src="/assets/images/overview/bobbyrobson.svg" alt="The Sir Bobby Robson Foundation"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}
