<div class="partners-container">
  <div class="section section-5">
    <div class="partners">
      <div class="title gibson-book">Our Partners</div>
      <div class="partner-logos">
        <div class="partner-logo">
          <a href="http://sirbobbyrobsonfoundation.org.uk/" target="_blank"><img src="/assets/images/overview/bobbyrobson.svg" title="The Sir Bobby Robson Foundation" alt="The Sir Bobby Robson Foundation"></a>
        </div>
        <div class="partner-logo">
          <a href="https://gutscharity.org.uk/" target="_blank"><img src="/assets/images/overview/gutsuk.svg" title="Guts UK" alt="Guts UK" style="width: 75px; height: 75px;"></a>
        </div>
        <div class="partner-logo">
          <a href="https://www.parabola.com/philanthropy" target="_blank"><img src="/assets/images/overview/parabola.png" title="Parabola" alt="Parabola"></a>
        </div>
        <div class="partner-logo">
          <a href="https://www.stsft.nhs.uk/research-and-innovation/research" target="_blank"><img src="/assets/images/overview/stsft.svg" title="South Tyneside and Sunderland NHS Foundation Trust" alt="South Tyneside and Sunderland NHS Foundation Trust" style="width: 248px; height: 60px;"></a>
        </div>
        <div class="partner-logo">
          <a href="https://www.ncl.ac.uk/" target="_blank"><img src="/assets/images/overview/ncluni.svg" title="Newcastle University" alt="Newcastle University"></a>
        </div>
        <div class="partner-logo">
          <a href="https://www.northumbria.ac.uk/" target="_blank"><img src="/assets/images/overview/northumbria.png" title="Northumbria University" alt="Northumbria University"></a>
        </div>
        <div class="partner-logo">
          <a href="https://www.leeds.ac.uk/" target="_blank"><img src="/assets/images/overview/leeds.svg" title="University of Leeds" alt="University of Leeds"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="middle-section">
    <ul class="social-links">
      {% if site.data.socialmedia.facebook and site.data.socialmedia.facebook != "" %}
        <li><a href="{{site.data.socialmedia.facebook}}" target="_blank">
          <div class="social-img" id="fb" alt="Facebook"></div>
        </a></li>
      {% endif %}
      {% if site.data.socialmedia.twitter and site.data.socialmedia.twitter != "" %}
        <li><a href="{{site.data.socialmedia.twitter}}" target="_blank">
          <div class="social-img" id="tw" alt="Twitter"></div>
        </a></li>
      {% endif %}
      {% if site.data.socialmedia.linkedin and site.data.socialmedia.linkedin != "" %}
        <li><a href="{{site.data.socialmedia.linkedin}}" target="_blank">
          <div class="social-img" id="ln" alt="LinkedIn"></div>
        </a></li>
      {% endif %}
      {% if site.data.socialmedia.instagram and site.data.socialmedia.instagram != "" %}
        <li><a href="{{site.data.socialmedia.instagram}}" target="_blank">
          <div class="social-img" id="in" alt="Instagram"></div>
        </a></li>
      {% endif %}
    </ul>
  </div>
  <div class="wide-section">
    <div class="section-inner">
      <div class="col">
        <ul class="links gibson-book">
          <li id="selected"><a href="/">Home</a></li>
          <li><a href="/studies/">Our Studies</a></li>
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/participants/">Participants</a></li>
          <li><a href="/researchers/">Researchers</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact-us/">Contact us</a></li>
          <li><a href="/register/">Register</a></li>
          <li>
            <a href="/privacy">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" site="ISOASQWM" defer></script>
  <!-- Latest v2.x.x -->
  <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
  <script>
    cssVars({
    // Options...
    });
  </script>

  <!-- / Fathom -->
</div>