<div class="partners-container">
  <div class="section section-5">
    <div class="partners">
      <div class="title gibson-book">Our Partners</div>
      <div class="partner-logos">
        <div class="partner-logo">
          <a href="https://gutscharity.org.uk/" target="_blank"><img src="/assets/images/overview/gutsuk.svg" alt="Guts UK" style="width: 75px"></a>
        </div>
        <div class="partner-logo">
          <a href="https://www.parabola.com/philanthropy" target="_blank"><img src="/assets/images/overview/parabola.png" alt="Parabola"></a>
        </div>
        <div class="partner-logo">
          <a href="https://www.ncl.ac.uk/" target="_blank"><img src="/assets/images/overview/ncluni.svg" alt="Newcastle University"></a>
        </div>
        <div class="partner-logo">
          <a href="https://medicinehealth.leeds.ac.uk/medicine/staff/453/professor-mark-hull" target="_blank"><img src="/assets/images/overview/leeds.svg" alt="University of Leeds"></a>
        </div>
        <div class="partner-logo">
          <a href="http://sirbobbyrobsonfoundation.org.uk/" target="_blank"><img src="/assets/images/overview/bobbyrobson.svg" alt="The Sir Bobby Robson Foundation"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="left-section">
    <div class="title gibson-medium">
      COLO-SPEED
    </div>
    <div class="section-inner">
      <div class="col">
        <ul class="links gibson-book">
          <li id="selected"><a href="/">Home</a></li>
          <li><a href="/studies/">Our Studies</a></li>
          <li><a href="/participants/">Participants</a></li>
          <li><a href="/researchers/">Researchers</a></li>
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact-us/">Contact us</a></li>
        </ul>
      </div>
      <div class="col">
        <div class="title gibson-medium">
          Legal
        </div>
        <ul class="links gibson-book">
          <!-- <li>
            <a href="#">Terms & Conditions</a>
          </li> -->
          <li>
            <a href="/privacy">Privacy Policy</a>
          </li>
          <!-- <li>
            <a href="/cookies">Cookies</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="middle-section">
    <ul class="social-links">
      {% if site.data.socialmedia.facebook and site.data.socialmedia.facebook != "" %}
        <li><a href="{{site.data.socialmedia.facebook}}" target="_blank">
          <div class="social-img" id="fb" alt="Facebook"></div>
        </a></li>
      {% endif %}
      {% if site.data.socialmedia.twitter and site.data.socialmedia.twitter != "" %}
        <li><a href="{{site.data.socialmedia.twitter}}" target="_blank">
          <div class="social-img" id="tw" alt="Twitter"></div>
        </a></li>
      {% endif %}
      {% if site.data.socialmedia.linkedin and site.data.socialmedia.linkedin != "" %}
        <li><a href="{{site.data.socialmedia.linkedin}}" target="_blank">
          <div class="social-img" id="ln" alt="LinkedIn"></div>
        </a></li>
      {% endif %}
      {% if site.data.socialmedia.instagram and site.data.socialmedia.instagram != "" %}
        <li><a href="{{site.data.socialmedia.instagram}}" target="_blank">
          <div class="social-img" id="in" alt="Instagram"></div>
        </a></li>
      {% endif %}
    </ul>
  </div>
  <div class="right-section gibson-book">
    <div class="newsletter">
      <div>Sign up to receive news and updates</div>
      <form onsubmit="return registerUser(this);" id="footer-form">
        <input name="consent-1" type="hidden" value="on">
        <div class="form-row info-message" style="padding: 0;">
          <div class="message">
            Thank you for contacting us.
          </div>
        </div>
        <div class="email-field">
          <input type="text" placeholder="Your name" name="name"  aria-required="true" required>
        </div>
        <div class="email-field">
          <input type="email" placeholder="Your email" name="email"  aria-required="true" required>
          <div id="email-submit" style=" padding: 9px 2px;">
            <!-- <a href="#"><img src="/assets/images/submit-arrow.svg" alt="Submit" onclick="document.getElementById('footer-form').submit();"></a> -->
            <input type="submit" value=" " aria-label="Register Now"
              style="background: url('/assets/images/submit-arrow.svg'); height: 14px; border: 0; background-repeat: no-repeat; background-position: center center; background-size: contain; width: 18px; cursor: pointer;">
          </div>
        </div>
        <div>
          By submitting your email, you agree to receive COLO-SPEED’s emails. You can withdraw your consent at any time.
          Please refer to our <a href="/privacy" target=”_blank”>Privacy Policy</a> or <a href="/contact-us" target=”_blank”>Contact Us</a> for more details.
        </div>
      </form>
    </div>
  </div>
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" site="ISOASQWM" defer></script>
  <!-- / Fathom -->
</div>