@media only screen and (max-width: 1000px) {
  /*************** STUDIES PAGE STYLE BEGINES HERE ***************/

  #main-content .section-1 {
    background-color: #004379;
    background-color: var(--primary-color);
    padding-top: 90px;
  }

  #main-content .section-1 .study {
    display: flex;
    justify-content: center;
  }

  #main-content .section-1 .study .col {
    flex: 1;
    color: white;
    padding: 40px 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 45vh;
    box-sizing: border-box;
  }

  .study:nth-child(even) {
    flex-direction: column-reverse;
  }

  .study:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .study:nth-child(even) .col {
    align-items: center;
    justify-content: center;
  }

  .study:nth-child(odd) .col {
    align-items: center;
    justify-content: center;
  }

  .study:nth-child(even) .study-info {
    text-align: center;
  }

  .study:nth-child(odd) .study-info {
    text-align: center;
  }

  #main-content .section-1 .study .right-col {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    padding: 0;
    padding-bottom: 51%;
  }

  #main-content .section-1 .study .title {
    font-size: 2.4rem;
  }

  #main-content .section-1 .study .subtitle {
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  #main-content .section-1 .study .contact-person {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--lt-blue);
    text-align: left;
  }

  #main-content .section-1 .study .contact-person a{
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--lt-blue);
    text-align: left;
  }
  
  #main-content .section-1 .study .paragraph {
    margin: 15px 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: left;
  }
  
  #main-content .section-1 .study .location, #main-content .section-1 .study .status  {
    margin: 5px 0;
    font-size: 1rem;
    text-align: left;
  }
  
  #main-content .section-1 .study .location .strong, #main-content .section-1 .study .status .strong {
    font-weight: 500;
    color: var(--lt-blue);
    font-size: 1rem;
  }

  #main-content .section-1 .study .read-more {
    font-size: 1rem;
    font-weight: 500;
    background: white;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    display: block;
    color: var(--primary-color);
    padding: 10px 20px;
    /* border-radius: 50px; */
    transition: all ease-in 0.1s;
  }

  #main-content .section-1 .study .read-more:hover {
    background: #00BDF1;
    background: var(--lt-blue);
    color: white;
  }


  #main-content .section-2 {
    background-color: var(--lt-grey);
    box-sizing: border-box;
    padding: 30px 0;

  }

  #main-content .section-2 .study-details {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
  }

  #main-content .section-2 .study-details .study-info {

  }

  #main-content .section-2 .study-details .study-info .paragraph {
    /* margin: 40px 0; */
    padding: 30px 10vw;
  }

  #main-content .section-2 .study-details .study-info .paragraph .title {
    font-size: 1.6rem;
    font-weight: 500;
  }

  #main-content .section-2 .study-details .study-info .paragraph p {
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  #main-content .section-2 .study-details .study-info .paragraph ul {
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  #main-content .section-2 .study-details .study-info .paragraph img {
    max-width: 100%;
  }

  #main-content .section-2 .study-details .study-registration {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  #main-content .section-2 .study-details .study-registration .left-col {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    width: 100vw;
    box-sizing: border-box;
    display: none;
  }

  #main-content .section-2 .study-details .study-registration .right-col {
    min-width: 300px;
    flex: 1;
    padding: 15px 30px;
    width: 100vw;
    box-sizing: border-box;
  }

  #main-content .section-2 .study-details .study-registration .right-col .title {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: #00BDF1;
    color: var(--lt-blue);
    margin-bottom: 50px;
    margin-top: 30px;
  }


  #main-content .section-2 .study-details .study-registration .right-col .subtitle {
    font-size: 1.2em;
    font-weight: 500;
    color: #2c2c2c;
    margin: 40px 0 15px 0;
  }


  #main-content .section-2 .study-details .study-registration .right-col input[type=text],
  #main-content .section-2 .study-details .study-registration .right-col input[type=date],
  #main-content .section-2 .study-details .study-registration .right-col input[type=email] {
    display: block;
    height: 3rem;
    box-sizing: border-box;
    padding: 5px 20px;
    width: 100%;
    margin: 20px 0;
    font-size: 1rem;
    background: #f8f8f8;
    border: none;
  }

  #main-content .section-2 .study-details .study-registration .right-col .form-row {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
  }

  #main-content .section-2 .study-details .study-registration .right-col input[type=checkbox] {
    width: auto;
    margin: 0.5rem 10px;
  }

  #main-content .section-2 .study-details .study-registration .right-col label {
    flex: 1;
    margin: 0 10px;
    font-size: 1.1rem;
  }

  #main-content .section-2 .study-details .study-registration .right-col input[type="submit"] {
    width: 100%;
    border: none;
    background: #00BDF1;
    background: var(--dk-blue);
    color: white;
    font-weight: 600;
    font-size: 1em;
    /* border-radius: 50px; */
    padding: 10px;
    margin: 40px 0;
  }

  #main-content .section-2 .study-details .study-registration .right-col input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #757575;
    margin-right: 0.5em;
  }

  #main-content .section-2 .study-details .study-registration .right-col input[type="date"]:focus:before,
  #main-content .section-2 .study-details .study-registration .right-col input[type="date"]:valid:before {
    content: "";
  }


  .study-tabs .tabs .cs-tab {
    padding: 12px 11px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    flex: 1;
    text-align: center;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
  }
  
  .study-tabs .tabs .cs-tab .icon {
    font-size: 1.6rem;
  }
  
  .study-tabs .tabs .cs-tab .tab-title {
    margin-top: 4px;
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 650px) {

  .related-articles {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .related-article .paragraph {
    word-break: break-word;
    padding: 0 !important;
  }
  
  .related-article a {
    text-decoration: none;
    color: currentColor;
  }
  
  .related-article a:hover {
    color: var(--lt-blue);
    text-decoration: underline;
  }
  
  .related-article .newstitle {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin-top: 10px;
  }
  
  .related-article .article:hover {
    cursor: pointer;
  }
  
  .related-article .newstitle a {
    text-decoration: underline ;
  }
  
  .related-article .newstitle a:hover {
    text-decoration: underline ;
  }
  
  .related-article:hover .newstitle a {
    text-decoration: underline ;
  }
  
  .related-article:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.4);
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .related-article .subtitle {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .related-article .date {
    color: #777;
    font-weight: 500;
    font-size: 0.8rem;
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: center;
  }
  
  .related-article .tag {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    background: var(--lt-blue);
    padding: 8px 15px;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .related-article .tag:hover {
    background: var(--lt-grey);
  }
  
  .related-article .paragraph {
    margin-top: 15px;
    font-size: 1rem !important;
    line-height: 1.8rem;
    word-break: break-word;
    color: black;
  }
  
  .related-article .paragraph p {
    font-size: 1rem !important;
    line-height: 1.8rem;
    word-break: break-word;
    color: black;
  }
  
  .related-article {
    background: white;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    /* max-width: 350px; */
    position: relative;
    box-shadow: 0px 2px 6px rgba(38, 38, 38, 0.2);
    cursor: pointer;
    box-sizing: border-box;
    /* height: 500px; */
  }
  
  .related-article .type {
    font-size: 1rem;
    color: white;
    background: var(--primary-color);
    display: inline-block;
    padding: 5px 10px;
    width: fit-content;
    text-transform: capitalize;
  }
  
  .related-article .image-container {
    /* height: 30vh; */
    height: auto;
    width: 100%;
    /* padding-bottom: 55.56%; */
    margin: 0;
  }
  
  .related-article .study-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    margin-bottom: 0;
    width: 100%;
    padding-bottom: 55.56%;
    position: relative;
  }
  
  .related-article .right-col {
    flex: 1;
    position: relative;
    padding: 30px;
    height: 245px;
    /* max-height: 245px; */
    overflow-y: hidden;
    box-sizing: border-box;
  }
  /****************** END OF STUDIES PAGE STYLEE *****************/
}