<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>COLO-SPEED - {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#004379">
  <link rel="stylesheet" href="/css/styles.1569346102824.css?t=10">
  <link rel="stylesheet" href="/css/styles.1569346102824.mob.css?t=10">
  <link rel="stylesheet" href="/css/article.css?t=10">
  <link rel="stylesheet" href="/css/article.mob.css?t=10">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

<body>
  {% include header.html %}

  <div id="main-content">
    <div class="section section-1 gibson-book">
      <div class="news-media">
        <div class="main-col">

          {% assign article = page %}

          <div class="article">
            <div class="left-col col" style="background-image: url('{{ article.image }}');">

            </div>
            <div class="right-col col">
              <!-- <img src="{{ article.image }}" class="main-image"> -->
              <div class="date">
                <!-- Written by <a class="author-link" href="mailto:{{article.author.email}}">{{ article.author.name }}</a> at <a href="{{article.url}}">{{ article.date | date_to_rfc822 }}</a> -->
                <a href="{{article.url}}">{{ article.date | date: "%-d %B %Y, %R" }}</a>
              </div>
              <div class="newstitle">
                <a href="{{article.url}}">{{ article.title }}</a>
              </div>
              <div class="subtitle">
                {{ article.subtitle }}
              </div>
              
              <div class="paragraph">
                <p>
                  {{ article.content | markdownify }} 
                </p>
              </div>

              {% if article.externallinks and article.externallinks.size > 0 %}
              <div class="external-links">
                <div class="small-title">
                  External Links:
                </div>
                <ul>
                  {% for link in article.externallinks %}
                    <li><a class="link" href="{{link.link}}">
                      {{ link.title }}
                    </a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              
              {% if article.study and article.study != "" and article.study != nil %}
                <div class="external-links">
                  <div class="small-title">
                    Related Studies:
                  </div>
                  <ul>
                    {% for study in site.studies %}
                      {% if study.slug == article.study %}
                        <li><a class="link" href="{{study.url}}">
                          {{ study.title }}
                        </a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              
              <div class="tags">
                {% for tag in article.tags %}
                <a class="tag">
                  {{ tag }}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script src="/js/script.js" async defer></script>
</body>

</html>