<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>COLO-SPEED - {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#004379">
  <link rel="stylesheet" href="/css/styles.1569346102824.css?t=10">
  <link rel="stylesheet" href="/css/styles.1569346102824.mob.css?t=10">
  <link rel="stylesheet" href="/css/article.css?t=10">
  <link rel="stylesheet" href="/css/article.mob.css?t=10">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/cea568c08b.js" crossorigin="anonymous"></script>
</head>

<body>
  {% include header.html %}

  <div id="main-content">
    <div class="section section-1 gibson-book">
      <div class="news-media">
        <div class="main-col">

          {% assign article = page %}

          <div class="article">
            <div class="left-col col" style="background-image: url('{{ article.image }}');">

            </div>
            <div class="right-col col">
              <!-- <img src="{{ article.image }}" class="main-image"> -->
              <div class="info-row">
                <div class="type gibson-medium">
                  {{ article.type }}
                </div>
                <div class="date">
                  <!-- Written by <a class="author-link" href="mailto:{{article.author.email}}">{{ article.author.name }}</a> at <a href="{{article.url}}">{{ article.date | date_to_rfc822 }}</a> -->
                  {% if article.author and article.author != "" and article.author != nil %} 
                  <a href="{{ article.authorcontact }}">{{ article.author }}</a> |
                  {% endif %}
                  <span class="lt-blue">
                    {{ article.date | date: "%-d %B %Y" }}
                  </span>
                </div>
              </div>
              <div class="newstitle">
                {{ article.title }}
                <!-- <a href="{{article.url}}"></a> -->
              </div>
              <div class="subtitle">
                {{ article.subtitle }}
              </div>
              <div class="share-buttons">
                  <div>
                    <!-- <div style="font-size: 1rem; font-weight: 500; margin: 0 5px;">
                      Share this: 
                    </div> -->
                    <a title="email" href="mailto:?subject={{ article.title }}&body=https://v2.colospeed.uk{{ article.url}}" style="color: grey;"><i class="fas fa-envelope-square"></i>
                    </a>
                    <a title="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://v2.colospeed.uk{{ article.url }}" style="color: #3b5998;"><i class="fab fa-facebook-square"></i>
                    </a>
                    <a title="twitter" target="_blank" href="https://twitter.com/intent/tweet?url=https://v2.colospeed.uk{{ article.url }}&hashtags=colospeed" style="color: #00acee;"><i class="fab fa-twitter-square"></i>
                    </a>
                    <a title="flipboard" target="_blank" href="https://share.flipboard.com/bookmarklet/popout?title={{ article.title }}&url=https://v2.colospeed.uk{{ article.url}}&v=2" style="color: #e12828;"><i class="fab fa-flipboard"></i>
                    </a>
                    <a title="whatsapp" target="_blank" href="https://api.whatsapp.com/send?text=https://v2.colospeed.uk{{ article.url}}" style="color: #4FCE5D;"><i class="fab fa-whatsapp-square"></i>
                    </a>
                  </div>
              </div>
              <div class="paragraph">
                <p>
                  {{ article.content | markdownify }} 
                </p>
              </div>

              {% if article.tags and article.tags.size > 0 %}
                <div class="tags">
                  {% for tag in article.tags %}
                    {% if tag != "" and tag != blank and tag != nil %}
                      <a class="tag">
                        {{ tag }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}

              {% if article.externallinks and article.externallinks.size > 0 %}
              <div class="external-links">
                <div class="small-title">
                  External Links
                </div>
                <ul>
                  {% for link in article.externallinks %}
                    <li><a class="link" href="{{link.link}}">
                      {{ link.title }}
                    </a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              
              {% if article.study and article.study != "" and article.study != nil %}
                <div class="external-links">
                  <div class="small-title">
                    Related Studies
                  </div>
                  <div class="related-studies">
                    {% for study in site.studies %}
                      {% if study.slug == article.study %}
                      <div class="related-study" onclick="window.location='{{study.url}}'">
                        <div class="feature-image" style="background-image: url('{{ study.image }}');"></div>
                        <div class="card-content">
                          <div class="card-title">
                            <a href="{{study.url}}" alt="{{study.url}}">{{ study.title }}</a>
                          </div>
                          <div class="paragraph">
                            {{ study.shortoverview }}
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  
                  <!-- <ul>
                    {% for study in site.studies %}
                      {% if study.slug == article.study %}
                        <li><a class="link" href="{{study.url}}">
                          {{ study.title }}
                        </a></li>
                      {% endif %}
                    {% endfor %}
                  </ul> -->
                </div>
              {% endif %}
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script src="/js/script.js" async defer></script>
</body>

</html>