<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>COLO-SPEED - {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#004379">
  <link rel="stylesheet" href="/css/styles.1569346102824.css\?t=10">
  <link rel="stylesheet" href="/css/styles.1569346102824.mob.css\?t=10">
  <link rel="stylesheet" href="/css/contact.css\?t=10">
  <link rel="stylesheet" href="/css/contact.mob.css\?t=10">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

<body>
  {% include header.html %}

  <div id="main-content">
    <div class="section section-1 gibson-book">
      <div class="contact-us">
        <div class="main-col">
          <div class="title">
            {{ page.title }}
          </div>
          {% for question in page.faq %}
            <div class="subtitle">
              {{ question.question }}
            </div>
            <div class="paragraph">
              <p>
                {{ question.answer | markdownify }}
              </p>
            </div>  
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script src="/js/script.js" async defer></script>
</body>

</html>