---
layout: page
---


<div class="main-col">
  <div class="title">
    Researchers
  </div>
  <div class="paragraph">
    <p>
      If you are interested in being a recruiting site for our research studies, please contact the study teams to express interest in participation.  
    </p>
    <p>
      If you would like to collaborate with our study teams, please contact the main study team.  
    </p>
  </div>  
</div>

<!-- <div class="main-col">
  <div class="title">
    Researchers
  </div>

  <div class="row">
    <div class="contents-table">
      <ul>
        <li><a href="#why">Why is this research important?</a></li>
        <li><a href="#health-research">About health research</a></li>
        <li><a href="#get-involved">How can I get involved?</a></li>
        <li><a href="#faq">FAQs</a></li>
      </ul>
    </div>
    <a id="why" class="anchor"></a>
    <div class="subtitle">
      Why is this research important? 
    </div>
    <div class="paragraph">
      <p>
        COLO-SPEED research is important because it aims to develop a practical application to save lives by stopping people dying from bowel cancer.  Bowel cancer is the fourth most common cancer and the second most common cancer death in the UK. Over 40,000 people are diagnosed with bowel cancer in the UK each year and 16,000 people die from the disease (44 every day). Survival rates for those who are diagnosed with bowel cancer in the UK are lower than in many other developed countries, in part due to the fact that the cancer is more often diagnosed at a later stage here when treatment options are more limited.
      </p>
      <p>
        Most bowel cancer research focuses on treatment of more advanced bowel cancer.  COLO-SPEED aims to focus research on improving how we identify and diagnose patients most at risk of developing bowel cancer, and shift the balance towards prevention and earlier diagnosis to prevent unnecessary bowel cancer and death. This is what COLO-SPEED research seeks to do. 
      </p>
    </div>
  </div>  
  <div class="row"">
    <a id="health-research" class="anchor"></a>
    <div class="subtitle">
      About health research
    </div>
    {% include faq.html faq=site.data.abouthealthresearch %}
  </div>
  <div class="row"">
    <a id="get-involved" class="anchor"></a>
    <div class="subtitle">
      How can I get involved?
    </div>
    <div class="paragraph">
      <p>
        Patients and public have helped shape COLO-SPEED and will continue to be at the heart of the programme. Patients and public will also be involved in: prioritising research studies that will get access to COLO-SPEED; advising how studies can best take the patient perspective into account; identifying the research questions patients and public want to see answered; and spreading the message of research findings. 
      </p>
      <p>
        Patients attending endoscopy will be invited to: participate in colorectal research, either by directly entering a specific research study and/or consenting to be contacted in the future about suitable research studies. This unique resource will enable efficient delivery of cutting-edge research.
      </p>
      <p>
        If you are interested in participating in any of these studies, please  <a href="/sites/">click here</a> to check if your local hospital is a participating study site. If so, please get in touch with your local research team.
      </p>   
      <p>
        If your local hospital is not a participating site, you may <a href="#">register your interest here</a>
      </p>
    </div>
  </div>
  <div class="row">
    <a id="faq" class="anchor"></a>
    <div class="subtitle">
      FAQs
    </div>
    {% include faq.html faq=site.data.participantfaq %}
  </div>

</div>
 -->